@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #ffffff;;
    font-family: krona, sans-serif;
    height: 100vh;
}

.title__destaque {
    color: #46B7E3;
}

.texto__destaque {
    color: #46B7E3;
}

.android {
    color: #c0fa00;
}

.container {
    margin: 7%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.container__content {
    width: 100%; 
    max-width: 350px; 
    margin-bottom: 20px;
}

.container__content__title {
    color: #ffffff;;
    font-size: 1.8rem; 
    margin-bottom: 30px;
    margin-top: 25px;
    text-align: start;
    line-height: 1.2;

}

.container__content__paragraph1 {
    font-size: 1rem;
    margin-bottom: 18px;
    text-align: start;
    line-height: 1.4;

}

.container__title2 {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 11px;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.buttons__linkedin {
    background-color: #000000;
    border: 2px solid #46B7E3;
    padding: 3px 15px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px; 
    margin-bottom: 11px;
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    
}

.buttons__linkedin:hover {
    background-color: #272829;
}

.image__linkedin {
    width: auto;
    height: 23px; 
    margin-top: 4px;
}

.buttons__github {
    background-color: #000000;
    border: 2px solid #46B7E3;
    padding: 3px 15px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px; 
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
}

.buttons__github:hover {
    background-color: #272829;
}

.image__github {
    width: auto;
    height: 23px; 
    margin-top: 4px;
}

.image__perfil {
    width: 210px;
    height: auto; 
    border-radius: 4%;
    margin-bottom: 18px;
    border: 4px double #46B7E3;
}

main a {
    color: #6B91E8;
    text-decoration: none;
    margin: 18px;
    font-size: 1rem;
}

main a:hover {
    color: #6BE8C6;
}

main span {
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-family:krona, sans-serif;
}

footer {
    background-color: #98DAFF;
    width: 100%;
    height: 80px; 
    position: fixed;
    line-height: 80px;
    bottom: 0;
    text-align: center;
}

footer p {
    color: rgb(0, 0, 0);
    font-family: krona, sans-serif;
    font-size: 14px;
}

@media (max-width: 450px) {
    .container {
        margin: 3%; 
    }

    .container__content__title {
        font-size: 1.5rem; 
    }

    .image__perfil {
        width: 180px; 
    }

    footer {
        height: 70px; 
        line-height: 70px;
    }

    footer p {
        font-size: 12px; 
    }
}