@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-primary: #46B7E3;
    --color-secondary: #000000;
    --color-accent: #ffffff;
    --color-android: #c0fa00;
    --color-link: #6B91E8;
    --color-link-hover: #6BE8C6;
    --color-button-hover: #272829;
    --font-primary: 'Krona One', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
}

.header {
    background-color: var(--color-secondary);
    width: 100%;
    height: 2.5rem; 
    position: fixed;
    line-height: 2.5rem;
    top: 0;
    text-align: start;
    padding: 0;
    display: flex;
}

.header__menu {
    color: var(--color-primary);
    font-size: 0.9375rem;
    font-weight: bold;
    font-family: var(--font-secondary);
    display: flex;
}

.header__menu__link {
    text-decoration: none;
    color: var(--color-primary);
    padding: 0 0.5625rem;
    border: var(--color-secondary) 0.125rem solid;
    border-radius: 0.0625rem;
    border-right: 0.125rem solid var(--color-secondary);
}

.header__menu__link:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    transition: 0.2s;
}

body {
    background-color: var(--color-secondary);
    color: var(--color-accent);
    font-family: var(--font-primary);
}

.title__destaque {
    color: var(--color-primary);
}

.texto__destaque {
    color: var(--color-primary);
}

.android {
    color: var(--color-android);
}

.container {
    margin: 7%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.container__content {
    width: 100%; 
    max-width: 21.875rem; 
    margin-bottom: 1.25rem;
}

.container__content__title {
    color: var(--color-accent);
    font-size: 1.8rem; 
    margin-bottom: 1.875rem;
    margin-top: 1.5625rem;
    text-align: start;
    line-height: 1.2;
}

.container__content__paragraph1 {
    font-size: 1rem;
    margin-bottom: 1.125rem;
    text-align: start;
    line-height: 1.4;
}

.container__title2 {
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    color: var(--color-accent);
    margin-bottom: 0.6875rem;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons__linkedin {
    background-color: var(--color-secondary);
    border: 0.125rem solid var(--color-primary);
    padding: 0.1875rem 0.9375rem;
    border-radius: 0.25rem;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: bold;
    margin: 0.3125rem; 
    margin-bottom: 0.6875rem;
    width: 10rem;
    height: 2.8125rem;
    display: flex;
    justify-content: flex-start;
}

.buttons__linkedin:hover {
    background-color: var(--color-button-hover);
}

.image__linkedin {
    width: auto;
    height: 1.4375rem; 
    margin-top: 0.25rem;
}

.buttons__github {
    background-color: var(--color-secondary);
    border: 0.125rem solid var(--color-primary);
    padding: 0.1875rem 0.9375rem;
    border-radius: 0.25rem;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: bold;
    margin: 0.3125rem; 
    width: 10rem;
    height: 2.8125rem;
    display: flex;
    justify-content: flex-start;
}

.buttons__github:hover {
    background-color: var(--color-button-hover);
}

.image__github {
    width: auto;
    height: 1.4375rem; 
    margin-top: 0.25rem;
}

.image__perfil {
    width: 15rem;
    height: auto; 
    border-radius: 4%;
    margin-bottom: 1.125rem;
    border: 0.25rem double var(--color-primary);
}

.image__perfil__about {
    width: 13.125rem;
    height: auto; 
    border-radius: 4%;
    margin-bottom: 1.125rem;
    border: 0.25rem double var(--color-primary);
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top: 10%;
}

main a {
    color: #6B91E8;
    text-decoration: none;
    margin: 1.125rem;
    font-size: 1rem;
}

main a:hover {
    color: #6BE8C6;
}

main span {
    color: var(--color-accent);
    padding: 0.625rem;
    border-radius: 0.3125rem;
    font-family:var(--font-primary);
}

footer {
    background-color: #98DAFF;
    width: 100%; 
    position: fixed;
    line-height: 3%;
    bottom: 0;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    font-size: 1rem;
}

@media (max-width: 28.125rem) {
    .container {
        margin: 3%; 
    }

    .container__content__title {
        font-size: 1.5rem; 
    }

    .image__perfil {
        width: 11.25rem; 
    }

    footer {
        height: 4.375rem; 
        line-height: 4.375rem;
    }

    footer p {
        font-size: 0.75rem; 
    }
}

.container__content__about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 21.875rem;
    text-align: start;
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    color: var(--color-accent);
    margin: auto;
    width: 100%; 
    margin-top: 2.2rem;
}

.container__content__about__title{
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    color: var(--color-accent);
    margin-bottom: 10%;
    margin-top: 10%;
}

.container__content__paragraph__about {
    font-size: 1rem;
    font-family: var(--font-secondary);
    margin-bottom: 1.125rem;
    text-align: start;
    line-height: 1.4;
    margin-top: 10%;
}

.container__content__title__curriculo {
    color: var(--color-accent);
    font-size: 1.8rem; 
    font-family: var(--font-secondary);
    margin-left: 10%;
    margin-top: 15%;
    text-align: start;
    line-height: 1.2;
    margin-bottom: 3%;
}

.container__content__curriculo {
    max-width: 26.25rem; 
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: start;
    margin: auto;
    width: 100%; 
    margin-bottom: 6%;
}

.container__content__paragraph__curriculo {
    font-size: 1rem;
    font-family: var(--font-secondary);
    text-align: start;
    line-height: 1.4;
    margin-left: 10%;
}

.container__content__title2__curriculo {
    font-family: var(--font-secondary);
    font-size: 1.8rem;
    color: var(--color-accent);
    margin-left: 10%;
    margin-top: 10%;
    text-align: start;
    line-height: 1.2;
    margin-bottom: 3%;
}

.container__content__paragraph2__curriculo{
    font-size: 1rem;
    font-family: var(--font-secondary);
    text-align: start;
    line-height: 1.4;
    margin-left: 10%;
}

.container__content__title3__curriculo {
    font-family: var(--font-secondary);
    font-size: 1.8rem;
    color: var(--color-accent);
    margin-left: 10%;
    margin-top: 10%;
    text-align: start;
    line-height: 1.2;
    margin-bottom: 3%;
}

.container__content__paragraph3__curriculo {
    font-size: 1rem;
    font-family: var(--font-secondary);
    margin-bottom: 3%;
    text-align: start;
    line-height: 1.4;
    margin-left: 10%;
    max-width: 85%;
}

.link__credencial {
  font-size: 0.9em;
  color: var(--color-primary);
}

.link__credencial:hover {
    font-size: 1em;
  color: var(--color-accent);
}
